{% extends "base.html" %}
{% block title %} Contact {% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{# body begins #}
{% block content %}

<main>
    <div style="padding-left: 3rem; min-height: calc(100vh - 285px);">
        <div class="columns">
            <div class="column is-12">
                <div class="content is-medium">
                    <p class="title is-3 is-spaced">Contact Us</p>
                    <p>
                        We are always keen on hearing from our donors.
                        If you have any questions that you want answered,
                        please do not hesitate to get in touch.
                    </p>
                    <p>
                        You can write to us at <a href="mailto:uniondarassalam@gmail.com" target="_blank">uniondarassalam@gmail.com</a>
                        or contact our president with the information provided below.
                    </p>
                    <div class="box" style="padding-right: 5rem; max-width: max-content;">
                        <strong>Mr. Hamid Aboubakar</strong><br />
                        Leicester, UK<br />
                        E: h_iya@hotmail.com<br />
                        P: +44 7541 992 350
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}

{% block footer %}
{{ super() }}
{% endblock %}