{% extends "base.html" %}
{% block title %} Contact {% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{# body begins #}
{% block content %}

<main>
    <div style="padding-left: 3rem;">
        <div class="columns">
            <div class="column is-12">
                <div class="content is-medium">
                    <p class="title is-3 is-spaced">Contact Us</p>
                    <p>
                        We are always keen on hearing from our donors. 
                        If you have any questions that you want answered, 
                        please do not hesitate to get in touch. 
                        You can write to us at <a href="mailto:uniondarassalam@gmail.com" target="_blank">uniondarassalam@gmail.com</a> or contact our president with the information provided below.
                    </p>
                    <p>
                        <strong>Mr. Hamid Aboubakar</strong><br/>
                        E: h_iya@hotmail.com<br/>
                        P: +44 7541 992 350
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}

{% block footer %}
{{ super() }}
{% endblock %}