{% extends "base.html" %}
{% block title %} History {% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{# body begins #}
{% block content %}

<main>
    <div style="padding-left: 3rem;">
        <div class="columns">
            <div class="column is-12">
                <div class="content is-medium">
                    <p class="title is-3 is-spaced">History</p>
                    <p class="title is-5">Violent Conflicts</p>
                    <p>
                        In the year 2013, ethnic violence erupted in the Central African Republic after months of
                        political unrest. By the end of 2014, the country was de facto partitioned with the anti-Balaka
                        controlling the south and west, from which most Muslims had evacuated, and ex-Seleka groups
                        controlling the north and east. Religious cleansing and human rights abuses forced thousands of
                        Muslims to flee the country.
                    </p>
                    <p>
                        In May 2014, it was reported that around 600,000 people in CAR were internally displaced with
                        160,000 of these in the capital Bangui. The Muslim population of Bangui dropped 99% from
                        138,000 to 900. By May 2014, 100,000 people had fled to neighbouring Cameroon, the Democratic
                        Republic of Congo and Chad. As of 2017, there are more than 1.1 million displaced people in a
                        country of about 5 million people, the highest ever recorded in the country, with about half a
                        million refugees outside CAR and about 600,000 internally displaced. Cameroon hosted the most
                        refugees, more than 135,000.
                    </p>
                    <p class="title is-5">Refugee Camps</p>
                    <p>
                        The UN has at least three refugee camps setup near the Cameroon-CAR borders. The largest of
                        which holds nearly 100,000 people. Mr. Hamid Aboubakar, the president of UDES, first visited
                        this camp in the year 2014. He returned to the UK and wrote to the mosques in Leicester, asking
                        for help and was greeted with a tremendous response. He was also kindly supported by the
                        charity, Caravan of Mercy based in Leicester, UK. Together, we managed to channel the donations
                        into crucial support, the refugees were in need of.
                    </p>
                    <div id="gallery" style="display:none; margin: 0px auto;">

                        <img alt="" src="{{ url_for( 'static', filename='images/home-bg.jpg' )}}" data-image="{{ url_for( 'static', filename='images/home-bg.jpg' )}}"
                            data-description="">

                        <img alt="" src="{{ url_for( 'static', filename='images/home-bg.jpg' )}}" data-image="{{ url_for( 'static', filename='images/home-bg.jpg' )}}"
                            data-description="">

                    </div>
                    <br/>
                    <p>
                        Every year we provide basic medication, meat, rice, oil and other necessary ingredients during
                        our annual visits in the month of Ramadan. We have also provided clothing for children and set
                        up a Mosque and a Madrasah for both their general and religious education. We employed three
                        teachers for the education of the refugee children. We buy new clothes for a group of children,
                        widows and old men for the festival of Eid – but due to lack of funds, we have managed to
                        provide this only for a few of them.
                    </p>
                    <p class="title is-5">Origin of UDES</p>
                    <p>
                        In 2018, Hamid Aboubakar decided to register the charity UDES in Cameroon, to be able to
                        further his efforts. He has received support from his friend Mr. Bobbo Mahmud, who is acting as
                        a vice-president of the charity. Bobbo Mahmud already works on projects to support orphan
                        children. He lives in Cameroon and is able to assess the ground situation in the refugee camp
                        and provide support.
                    </p>
                    <p>
                        UDES sincerely appeals to you for help, so we can help them. A charitable organisation can only
                        succeed through a collective effort. We have a duty towards these people and this charity was born out of this fact.
                        We are striving to make little differences in their lives and instill positive beliefs about their future.
                        If Allah wills, we plan to introduce a few more sustainable projects so they can live their lives with dignity.
                        We urge you to help these efforts bear fruits with your generous donations.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    // A $( document ).ready() block.

    $(document).ready(function () {
        $("#gallery").unitegallery({
            gallery_autoplay: true,
            gallery_play_interval: 3000,
            theme_enable_text_panel: false
        });
    });

</script>

{% endblock content %}

{% block footer %}
{{ super() }}
{% endblock %}