{% extends "base.html" %}
{# The blocks written here will replace the blocks
in base.html. if super() is called, the block from
base.html will be inserted first and then
the new block will be replaced #}
{% block title %} Home {% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{# body begins #}
{% block content %}

<main>

    <div id="intro-screen">
        <div id="image-container" style="overflow: hidden">
            <img src="{{ url_for( 'static', filename='images/home-bg.jpg' )}}" class="home-background" />
        </div>

        <div id="content-container" style="position: absolute; top: 10rem;">
            <div class="columns">
                <div class="column"></div>
            </div>
            <div class="columns">
                <div class="column"></div>
            </div>
            <div class="columns">
                <div class="column"></div>
            </div>
            <div class="columns">
                <div class="column is-three-fifths is-offset-one-fifth" style="border: 3px white solid;">
                    <p style="color: white;font-size: 4rem;text-align: center;">
                        Union Dar-assalam Education et la Solidarite
                    </p>
                </div>
            </div>
            <div class="columns">
                <div class="column"></div>
            </div>

            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <p style="color: white;font-size: 1.5rem;text-align: center;">
                        UDES is a charity registered in Cameroon
                        and United Kingdom working to help refugees fleeing persecution in Central African Republic.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="map-screen" style="padding-left: 1rem;">
        <div class="columns">
            <div class="column"></div>
        </div>
        <div class="columns">
            <div class="column is-6" style="background-color: #209cee; color: #fff;">
                <h2 class="title is-2" style="color: #fff;">Borgop Refugee Camp</h2>
                <div class="content is-medium">
                    <p>
                        The Borgop village houses one of the three UN-run camps for the refugees from Central African
                        Republic. It accomodates nearly 14,000 people including women, elderly men and children, many
                        of
                        whom are orphans. The village is located at a distance of about 35 miles from the town of
                        Meiganga (shown in the
                        map).
                    </p>
                    <br />
                    <p>Refugees live in poor conditions and are in dire need of support in terms of food, clothing,
                        education and potentially sustainable economic means.</p>
                    <br />
                    <p>To learn more about the history and what we are doing to help, click here.</p>
                </div>
            </div>
            <div class="column is-6">
                <!--Map embed-->
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=meiganga%20cameroon&t=&z=5&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                    </div>
                </div>
                <!--Map embed close-->
            </div>

        </div>
    </div>
    <div id="icons-screen" style="padding-left: 1rem;">
        <div class="columns">
            <div class="column"></div>
        </div>
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <h2 class="title is-4">What we have managed to provide so far...</h2>
            </div>
        </div>
        <div class="columns">
            <div class="column is-5 is-offset-1">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="{{ url_for( 'static', filename='images/icons/food.svg' )}}" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Food</strong>
                                    <br>
                                    During the month of Ramadan we visited the camp to provide them meat, dairy and
                                    other perishable and non-perishable food items.
                                </p>
                            </div>
                    </article>
                </div>
            </div>
            <div class="column is-5">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="{{ url_for( 'static', filename='images/icons/clothes.svg' )}}" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Clothing</strong>
                                    <br>
                                    We provided clothes that were collected from generous donors and also had the opportunity to provide some of the orphans with new clothes for Eid.
                                </p>
                            </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-5 is-offset-1">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="{{ url_for( 'static', filename='images/icons/mosque.svg' )}}" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Relgious needs</strong>
                                    <br>
                                    We helped build a Masjid so that the refugees can perform their five daily prayers. A Madrasah for both girls and boys with paid teachers was also established.
                                </p>
                            </div>
                    </article>
                </div>
            </div>
            <div class="column is-5">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="{{ url_for( 'static', filename='images/icons/support.svg' )}}" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Support</strong>
                                    <br>
                                    We try as much as possible to give the care each of them need. We did help some families to build a basic source of income, and we intend to support a few more.
                                </p>
                            </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column"></div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="content">
                    We are very grateful to the excellent support provided by the charity Caravan of Mercy and their generous donors. We have a long way to go in our efforts and we sincerely ask you to support us with your sadaqah, zakah or general donations.
                </div>
            </div>
        </div>
    </div>

</main>


{% endblock content %}

{% block footer %}
{{ super() }}
{% endblock %}