{% extends "base.html" %}
{% block title %} Project Aims {% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{# body begins #}
{% block content %}

<main>
    <div style="padding-left: 3rem;">
        <div class="columns">
            <div class="column is-12">
                <div class="content is-medium">
                    <p class="title is-3 is-spaced">Project Aims</p>
                    <p>
                        The most important objective of UDES is the welfare of the refugees. Although, they have managed
                        to escape a bloody civil war, the experience would have scarred them forever. They express their desire
                        to return to their land, but that would be far from easy. UDES wants to instill their hearts with hope
                        by lending a caring hand.
                    </p>
                    <p>
                        When the beloved Prophet Mohammad ﷺ was forced to move to the city of Medinah, he was welcomed with open
                        hands by the local Ansaars. This show of support and cooperation for the Prophet and his companions help spread the light of Islam
                        to the far corners of the Earth. We truly believe that their community can be rebuilt with the right amount of compassion and guidance.
                        Some of our aims of our charity are as follows.
                    </p>
                    <ul>
                        <li>To run UDES with a high level of compassion from each of our members. 
                            We want to be open to our donors and want to welcome ideas and efforts that could result in the welfare of the refugees.
                        </li>
                        <li>We have based our organisation on trust. We have a 100% donation policy and we try to show the donations in actions via pictures or videos.
                            We understand that donors expect their Zakaah, Sadaqah or general donations to be utilised in the right manner.
                            We have strived to keep a record of every single penny, that donors have entrusted us with, and we want to function similarly in the future.
                        </li>
                        <li>
                            We believe in sustainability. We have tried to empower a few of the refugees with a means to earn a small income. For instance, we helped a woman
                            with bakery ingredients, so she can sell some products in order to support herself and her children. Two men were given sewing machines with a promise
                            from them to teach sewing to a few others. By the will of Allah, we want to introduce a few more means that could be beneficial in pulling them out of poverty.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}

{% block footer %}
{{ super() }}
{% endblock %}